<!-- <div class="p-10 w-1/2 mx-auto">
  <h1>Welcome My Angular App</h1>
  <p>This is simple Angular Application</p>
  <button (click)="getData()" mat-raised-button>CLick Me</button>
  <div *ngIf="user">
    <h2>Data from API :</h2>
    <h2>User Id {{ user.userId }}</h2>
    <h2>Description: {{ user.title }}</h2>
    <h2>Status: {{ user.completed }}</h2>
  </div>
</div> -->
<div class="p-10 w-1/2 mx-auto">
  <div>
    <!-- <img [src]="imageUrl" alt="" /> -->
    <app-current-component></app-current-component>
  </div>
</div>
